@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #6366F1;
  --purple-dark: #4F46E5;
}

body {
  @apply bg-white;
}

.bg-purple {
  background-color: var(--purple);
}

.hover\:bg-purple-dark:hover {
  background-color: var(--purple-dark);
}

.text-purple {
  color: var(--purple);
}

.hover\:text-purple:hover {
  color: var(--purple);
}

.border-purple {
  border-color: var(--purple);
}
